* {
    cursor: default;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input::placeholder {
    color: white;
}
body {
    background: url("images/fondo_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-color: pink;*/
}
footer {
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
}
header {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0px;
    height: 80px;
    background-color: rgba(0, 0, 0, .5);
}
.profile_img_vp {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile_img {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.titulo_pag, .producto, .cuenta {
    display: inline-block;
}
.titulo_pag {
    margin-left: 15%;
}
nav {
    font-size: 2em;
}
.cuenta {
    float: inline-end;
}
.producto {
    float: inline-start;
}
a {
    text-decoration: none;
    user-select: none;
    /*color: rosybrown;*/
    color: teal;
}
.lista a {
    color: white;
}
main {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
}
main > * {
    width: auto;
    height: auto;
    margin: 10px;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px;
    overflow: auto;
}
.inter_usuario {
    text-align: center;
    color: white;
}
.inter_form input {
    color: white;
    background: transparent;
    text-align: center;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
}
.inter_usuario_btn {
    outline: none;
    border: none;
    color: white;
    background: transparent;
    margin: 10px;
    font-size: larger;
}
.btn_logout {
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: large;
}
.perfil_inicio {
    font-size: 1em;
}
.naviga {
    display: inline-flex;
    align-items: center;
}
.naviga a {
    margin-top: 3px;
}
/* =*=  =*=  =*=  =*=  =*=  =*=  =*=  =*=  =*=  =*=  =*=  =*=  =*= */
.disco_buscar_form {
    position: flex;
    text-align: center; 
}
.disco_input {
    color: white;
    font-weight: bolder;
    padding: 8px;
    width: 300px;
    text-align: center;
    border: none;
    background: transparent;
    border-bottom: 2px solid white;
    outline: none;
}
.disco_input:focus::placeholder {
    color: transparent;
}
.disco_input::placeholder {
    color: white; 
}
.disco_buscar_btn {
    color: white;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    background: transparent;
    padding: 8px 15px;
}

/* =*=  =*=  =*=  =*=  =*=  =*=  =*=  =*=  =*=  =*=  =*=  =*=  =*= */
.contenido {
    position: relative;
    color: white;
    height: 550px;
    width: 500px;
    overflow: auto;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3); 
}
.principal {
    text-align: center;
    color: white;
    list-style-type: none; 
}
.h_prod {
    padding: 20px 0 30px 0;
    color: skyblue;
}
.btn_div_modi, 
.btn_div_volver,
.modificar_btn,
.eliminar_btn {
    position: absolute;
    color: white;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid white;
    padding: 15px 10px;
}
.btn_div_modi,
.modificar_btn {  
    bottom: 40px;
    right: 100px;
}
.btn_div_volver,
.eliminar_btn {
    bottom: 40px;
    left: 100px;
}
.sbm_btn {
    font-size: large;
    font-weight: bold;
    background: transparent;
    color: white;
    text-decoration: none;
    border: none;
    margin-top: 10px;
    padding: 20px 10px;
    border-bottom: 2px solid white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.drop_btn {
    background-color: transparent;
    border: none;
    width: 5px;
    height: 5px;
}
.producto_drop {
    display: none;
    position: absolute;
    background: black;
    top: 99px;
}
.producto_drop a {
    padding: 12px 16px;
    color: teal;
    text-decoration: none;
    display: block;
}
.producto_drop a:hover {
    background-color: navy;
    color: olivedrab;
}
.dropdown:hover .producto_drop {
    display: block;
    text-align: center;
}
.menu_prod_opciones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
    user-select: none;
}
.menu_prod_opciones p {
    color: white;
}
.menu_prod_opciones ul {
    list-style-type: none;
}
.menu_prod_opciones a{
    color: burlywood;
}
.btn_resul_volver {
    color: burlywood;
    font-weight: bolder;
}