{% extends "A_main/index.html" %}
{% block content %}
    <div style="text-align: center; width:400px; background: rgba(0,0,0,0.5);">
        <h1 style="color: lightblue; ">About Me</h1>
        <p style="color: lightgray;">
            ¡Hola!
            Mi nombre es Gastón Farhi, estudio en Coderhouse y tengo 24 años.
            Me dedico a crear paginas web utilizando el Framework Django. Mi objetivo es hacer paginas funcionales, intuitivas y con un diseño atractivo.
        </p>
    </div>
{% endblock content %}
