<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pag_404 {% block title %} {% endblock title %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}" />
</head>
<body>
    <header>
        <h1 class="titulo_pag">
            <a href="{% url 'main:index' %}">Hello World!</a>
        </h1>
        <nav class="producto">
            <a href="{% url 'contenido:disco' %}">Discos</a>
            <a href="{% url 'contenido:libro' %}">Libros</a>
            <a href="{% url 'contenido:remera' %}">Remeras</a>
        </nav>
        {% if request.user.is_authenticated %}
            <nav class="cuenta">
                <a class="perfil_inicio" href="{% url 'user:ver_perfil' user.pk %}">
                    {% if request.user.inforextra.avatar %}
                        <img class="profile_img" src={{ request.user.infoextra.avatar.url }} alt="avatar">
                    {% else %}
                        <img class="profile_img" src="media/avatars/profile_01.png" alt="avatar">
                    {% endif %}
                    
                    {% if request.user.username != "admin" %}
                        ¡Hola, {{ request.user.first_name.capitalize }}!
                    {% else %}
                        ¡Hola, Admin!
                    {% endif %}

                    {% if request.user.username == "admin" %}
                        <a href="{% url 'admin:index' %}">
                            Administración
                        </a>
                    {% endif %}
                </a>
            </nav>
        {% else %}    
            <nav class="cuenta">
                <a href="{% url 'user:login' %}">LogIn</a>
                <a href="{% url 'user:registro' %}">Registrarse</a>
            </nav>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2025 GOODBYE WORLD!. Todos los derechos reservados.</p>
    </footer>
</body>
</html>