<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pag_404 {% block title %} {% endblock title %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}" />
</head>
<body>
    <header>
        <nav class="producto">
            <a href="{% url 'contenido:disco' %}">Discos</a>
            <a href="{% url 'contenido:libro' %}">Libros</a>
            <a href="{% url 'contenido:remera' %}">Remeras</a>
        </nav>
        <h1 class="titulo_pag">HELLO WORLD!</h1>
        <nav class="cuenta">
            <a href="{% url 'user:login' %}">LogIn</a>
            <a href="{% url 'user:registro' %}">Registrarse</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2025 GOODBYE WORLD!. Todos los derechos reservados.</p>
    </footer>
</body>
</html>