<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pag_404 {% block title %} {% endblock title %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}" />
    <link rel="icon" type="image/icon" href="{% static 'css/images/favi_01.png' %}">
</head>
<body>
    <header>
        <div class="dropdown">
            <button class="drop_btn">
                <img class="img_drop_btn" src="{% static 'css/images/menu_05.png' %}" alt="cont" />
            </button>
            <div class="producto_drop">
                <a href="{% url 'contenido:disco' %}">Discos</a>
                <a href="{% url 'contenido:libro' %}">Libros</a>
                <a href="{% url 'contenido:remera' %}">Remeras</a>
                <a style="white-space: nowrap;" href="{% url 'main:about' %}">About Me</a>
                {% if request.user.is_staff %}
                    <a href="{% url 'admin:index' %}">
                        Administración
                    </a>
                {% endif %}
            </div>
        </div>
        <h1 class="titulo_pag">
            <a href="{% url 'main:index' %}">Hello World!</a>
        </h1>
        {% if request.user.is_authenticated %}
            <nav class="cuenta">
                <a class="perfil_inicio" href="{% url 'user:ver_perfil' %}">
                    {% if request.user.infoextra.avatar %}
                        <img class="profile_img" src={{ request.user.infoextra.avatar.url }} alt="avatar">
                    {% else %}
                        <img class="profile_img" src="{% get_media_prefix %}avatars/profile_01.png" alt="qq">
                    {% endif %}

                    {% if request.user.is_superuser %}
                        ¡Hola, Admin!
                    {% else %}
                        ¡Hola, {{ request.user.first_name.capitalize }}!
                    {% endif %}
                </a>
            </nav>
        {% else %}
            <nav class="cuenta">
                <a href="{% url 'user:login' %}">LogIn</a>
                <a href="{% url 'user:registro' %}">Registrarse</a>
            </nav>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2025 GOODBYE WORLD!. Todos los derechos reservados.</p>
    </footer>
</body>
</html>