{% extends "A_main/index.html" %}
{% block title %}| Editar Perfil {% endblock title %}
{% block content %}
    <div class="inter_usuario">
        <h1 class="titulo_user">Editar Datos del Perfil</h1>
        <form class="inter_usuario_form" action="{% url 'user:editar_perfil' %}" emthod="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formulario }}
            <button class="inter_usuario_btn" type="submit">Actualizar</button>
        </form>
    </div>
{% endblock content %}
