{% extends "A_main/index.html" %}
{% block title %}| Perfil {% endblock title %}
{% block content %}
    <div class="inter_usuario">
        <h2>Datos del Usuario</h2>
        <img src="{% if request.user.avatar %}{{ request.user.avatar.url }}{% endif %}">
        <p>Nombre: {{usuario.user.first_name.capitalize }} </p>
        <p>Apellido: {{usuario.user.last_name.capitalize }} </p>
        <p>Fecha de Nacimiento: {{usuario.user.fecha_nacimiento}}</p>
        <p>Email: {{usuario.user.email}} </p>
        <p>Usuario: {{usuario.user.username}} </p>
        <nav class="naviga">
            <form action={% url 'user:logout' %} method="post"> 
                {% csrf_token %}
                <input class="btn_logout" type="submit" value="LogOut">
            </form>
            <a class="btn_logout" href="{% url 'user:editar_perfil' %}">Editar Perfil</a>
        </nav>
    </div>
{% endblock content %}
