{% extends 'A_Main/index.html' %}
{% block title %}| Discos {% endblock %}
{%block content %}
    <div class="contenido">
        <ul class="principal">
            <h1>
                <a href="{% url 'contenido:menu_disco' %}">
                    Música
                </a>
            </h1>
            {% for cd_list in lista_discos %}
                <li class="lista">
                    <a href="{% url 'contenido:detalle_disco' cd_list.id %}">
                        {{cd_list.nombre}} - {{cd_list.artista}}
                    </a>
                </li>
            {% empty %}   
                <li class="lista">
                    No hay items aún.
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}