{% extends 'A_Main/index.html' %}
{% block title %}| Libros | Titulo {% endblock %}
{%block content %}
    <div class="contenido">
        <form class="disco_buscar_form" method="GET" action="{% url 'contenido:libro_r_titulo' %}">
            <input class="disco_input" type="text" name="q" placeholder="Buscar por Título" autocomplete="off">
            <button class="disco_buscar_btn" type="submit">Buscar</button>
        </form>
        <h2>Resultados de Busqueda</h2>
        {% if resultados_libro_titulo %}
            <h3>{{titulo_libro.title}}</h3>
            {% for variable in resultados_libro_titulo %}
                <ul style="list-style-type: none;">
                    <li>
                        <a href="{% url 'contenido:detalle_libro' variable.id %}" style="color: white;">
                            {{ variable.autor }} - {{ variable.year }}
                        </a>
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <div>
                <h3>Sin resultados.</h3>
            </div>
        {% endif %}
        <a class="btn_resul_volver" href="{% url 'contenido:menu_libro' %}">Volver</a>
    </div>
{% endblock %}
