{% extends "A_main/index.html" %}
{% block content %}
    <div class="contenido">
        <form class="inter_form" action="{% url 'contenido:modificar_libro' libro.id %}" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Modificar" class="modificar_btn">
        </form>
        <form class="inter_form" action="{% url 'contenido:eliminar_libro' libro.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Borrar" class="eliminar_btn">
        </form>
    </div>
{% endblock content %}