{% extends 'A_Main/index.html' %}
{% block title %}| Remera | Diseño {% endblock %}
{%block content %}
    <div class="contenido">
        <form class="disco_buscar_form" method="GET" action="{% url 'contenido:remera_r_disenio' %}">
            <input class="disco_input" type="text" name="q" placeholder="Buscar por Diseño" autocomplete="off">
            <button class="disco_buscar_btn" type="submit">Buscar</button>
        </form>
        <h2>Resultados de Busqueda</h2>
        {% if resultados_remera_disenio %}
            <h3>{{remera_disenio}}</h3>
                {% for variable in resultados_remera_disenio %}
                    <ul style="list-style-type: none;">
                        <li>
                            <a href="{% url 'contenido:detalle_remera' variable.id %}" style="color: white;">
                                {{ variable.talle }} - {{ variable.color }}
                            </a>
                        </li>
                    </ul>
                {% endfor %}
        {% else %}
            <div>
                <h3>Sin resultados.</h3>
            </div>
        {% endif %}
        <a href="{% url 'contenido:menu_remera' %}">Volver</a>
    </div>
{% endblock %}
